.display{
    top: 32%;
    left: 28%;
    position: absolute;
}

#clock_circle{
    border: 8px solid rgb(0, 0, 0);
    border-radius: 50%;
    width: 250px;
    height: 250px;     
}
#clock_text
{
    position: absolute;
    font-family: arial,sans-serif-light,sans-serif;
    top: 115%;
    left: 10%;
    width: fit-content;
    color: white;
}
.hour{
    top: 89px;
    height: 44px;
    width: 3px;
    left: 49.4%;
    background: rgb(214, 16, 16); 
    position: absolute;   
    box-shadow: 2px 2px 28px 2px black;
    -webkit-animation: hour_tick 300s infinite linear;

}
.min{
    top: 43px;
    height: 93px;
    width: 5px;
    box-shadow: 2px 2px 28px 4px black;
    left: 49%;
    background: black; 
    position: absolute;   
    transform: rotate(45deg);
    -webkit-animation: min_tick 25s infinite linear;

}
/* element */
.sec{
    top: 40.5px;
    height: 132px;
    width: 4px;
    left: 49.8%;
    background: rgb(191, 187, 196); 
    box-shadow: 2px 2px 28px 4px black;
    opacity: 0.3;
    position: absolute;   
    transform: rotate(82deg);
    -webkit-animation: sec_tick 2s infinite linear;
    -webkit-transform-origin: 30% 70%;

}
.hour, .min
{
    -webkit-transform-origin: bottom;

}

@-webkit-keyframes hour_tick {
    to {
      -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes min_tick {
    to {
      -webkit-transform: rotate(405deg);
    }
}
@-webkit-keyframes sec_tick {
    to {
      -webkit-transform: rotate(442deg);
    }
}
.dot{
    border: 8px solid black;
    border-radius: 50%;
    position: absolute;
    top: 46%;
    right: 47%;
}
.img_format{
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 253px;
    width: 253px;
    opacity:0.7;
    animation: rotation 1.5s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
} 

.linkimg
{
    position: absolute;
    top: 30%;
    right: 20%;
    left: 51%;
    float: right;
    height: 284;
    width: 544;
    border-radius: 2%; 
}
.text
{
    color: white;
    font-family: arial,sans-serif-light,sans-serif;
    padding-top: 50px;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}